.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    min-height: 1000px;
}

.emptyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyContainer img {
    width: 400px;
    height: 400px;
}

.products {
    width: 100%;
}